.job-provider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Full height */
  width: 100vw;   /* Full width */
  background-color:hsl(122, 39%, 49%);  /* Light gray background */
}

.registration-box {
  width: 550px;
  padding: 50px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.registration-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.registration-input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration-button {
  padding: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #ff9800;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.registration-button:hover {
  background-color: #e68900;
}
